<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>R&D TOD Survey</title>
    <script type="JavaScript">
    function preventBack(){window.history.forward();}
    setTimeout("preventBack()", 0);
    window.onunload=function(){null};
    </script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"  crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{ url_for('static', filename='reportplot.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='zoomfeature.css') }}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" style="text-transform:capitalize;">Hi {{ current_user.id }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('tod_survey.main') }}">Survey</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('tod_report.main') }}">Report</a>
      </li>
    </ul>
    <span class="navbar-text">
      <a href="{{ url_for('logout') }}" class="btn btn-primary btn-sm" style="color:white">Log Out</a>
    </span>
  </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="progress" style="margin-top:1em">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-md-6">
            <b>Image</b>: {{ image_name }}
        </div>
        <div class="col-md-6">
            <b>Progress</b>: {{ index + 1}}  / {{ total_images_present }}
        </div>
    </div>

    <form action="{{ url_for('tod_survey.process') }}" method="post">

    <div class="row">
       <hr class="col-md-12" style="margin-bottom: 20px" />
        <div class="col-md-6" style="width: 100%;">
            <img src="data:image/png;base64,{{ image_bytes }}" id="myImg" class="img-fluid zoomimage" alt="{{ image_name }}">
            <div id="myModal" class="modal">
              <span class="close">&times;</span>
              <img class="modal-content" id="img01">
              <div id="caption"></div>
            </div>
            <h4>
                <b>Type of Damage Predictions: <br></b>
                {% if predictions|length == 0 %}
                    <span class="badge badge-light">None</span> 
                {% endif %}
                {% if "dent" in predictions %}
                    <span class="badge badge-primary">dent</span> 
                {% endif %}
                {% if "scratch" in predictions %}
                    <span class="badge badge-secondary">scratch</span> 
                {% endif %}
                {% if "tear" in predictions %}
                    <span class="badge badge-success">tear</span> 
                {% endif %}
                {% if "crack" in predictions %}
                    <span class="badge badge-danger">crack</span> 
                {% endif %}
                {% if "misalignment" in predictions %}
                    <span class="badge badge-warning">misalignment</span> 
                {% endif %}
            </h4>

        </div>
           
        <div class="col-md-6">
            <div style="font-weight:600;font-size:13pt">
                1. Do you agree with the predictions?
            </div>
            <div class="wrap">
                <ul class='likert'>
                  <li>
                    <input type="radio" name="overall_agreement" value="strong_agree" required>
                    <label>Strongly Agree</label>
                  </li>
                  <li>
                    <input type="radio" name="overall_agreement" value="agree" required>
                    <label>Agree</label>
                  </li>
                  <li>
                    <input type="radio" name="overall_agreement" value="neutral" required>
                    <label>Neutral</label>
                  </li>
                  <li>
                    <input type="radio" name="overall_agreement" value="disagree" required>
                    <label>Disagree</label>
                  </li>
                  <li>
                    <input type="radio" name="overall_agreement" value="strong_disagree" required>
                    <label>Strongly Disagree</label>
                  </li>
                </ul>
            </div>

            <div style="font-weight: 600; font-size: 13pt;">
                2. Which damage type(<b>s</b>) the model failed to identify?
            </div>
            {% for option in type_options %}
            <div class="form-check form-check-inline" style="margin-left: 20px">
                {% if option in predictions %}
                <input class="form-check-input" type="checkbox" value="{{ option }}" name="mislabels" id="{{ option }}_mis" disabled="">
                <label class="form-check-label" for="{{ option }}_mis">{{ option }}</label>
                {% else %}
                <input class="form-check-input" type="checkbox" value="{{ option }}" name="mislabels" id="{{ option }}_mis">
                <label class="form-check-label" for="{{ option }}_mis">{{ option }}</label>
                {% endif %}
            </div>
            {% endfor %}
            <div style="margin-top: 1em; font-weight: 600; font-size: 13pt;">
                3. Which damage type(<b>s</b>) the model labeled incorrectly?
            </div>
            {% for option in type_options %}
            <div class="form-check form-check-inline" style="margin-left: 20px">
                {% if option in predictions %}
                <input class="form-check-input" type="checkbox" value="{{ option }}" name="wronglabels" id="{{ option }}_wrong">
                <label class="form-check-label" for="{{ option }}_wrong">{{ option }}</label>
                {% else %}
                <input class="form-check-input" type="checkbox" value="{{ option }}" name="wronglabels" id="{{ option }}_wrong" disabled="">
                <label class="form-check-label" for="{{ option }}_wrong">{{ option }}</label>
                {% endif %}
            </div>
            {% endfor %}

            <div style="margin-top: 1em; font-weight: 600; font-size: 13pt">
                4. Are there significant damages outside the bounding boxes?
            </div>
            <div class="form-check form-check-inline" style="margin-left: 20px">
                  <input class="form-check-input" type="radio" name="bbox_eval" id="bbox_eval1" value="yes">
                  <label class="form-check-label" for="bbox_eval1">Yes</label>
            </div>
            <div class="form-check form-check-inline" style="margin-left: 20px">
                  <input class="form-check-input" type="radio" name="bbox_eval" id="bbox_eval2" value="maybe">
                  <label class="form-check-label" for="bbox_eval2">Maybe</label>
            </div>
            <div class="form-check form-check-inline" style="margin-left: 20px">
                  <input class="form-check-input" type="radio" name="bbox_eval" id="bbox_eval3" value="no" checked>
                  <label class="form-check-label" for="bbox_eval3">No</label>
            </div>

            <div style="margin-top: 1em; font-weight: 600; font-size: 13pt">
                5. Is there any damage in the image at all?
            </div>
            <div class="form-check form-check-inline" style="margin-left: 20px">
                  {% if predictions|length == 0 %}
                    <input class="form-check-input" type="radio" name="dmg_eval" id="dmg_eval1" value="yes">
                  {% else %}
                    <input class="form-check-input" type="radio" name="dmg_eval" id="dmg_eval1" value="yes" checked>
                  {% endif %}
                  <label class="form-check-label" for="dmg_eval1">Yes</label>
            </div>
            <div class="form-check form-check-inline" style="margin-left: 20px">
                  <input class="form-check-input" type="radio" name="dmg_eval" id="dmg_eval2" value="maybe">
                  <label class="form-check-label" for="dmg_eval2">Maybe</label>
            </div>
            <div class="form-check form-check-inline" style="margin-left: 20px">
                  {% if predictions|length == 0 %}
                    <input class="form-check-input" type="radio" name="dmg_eval" id="dmg_eval3" value="no" checked>
                  {% else %}
                    <input class="form-check-input" type="radio" name="dmg_eval" id="dmg_eval3" value="no">
                  {% endif %}
                  <label class="form-check-label" for="dmg_eval3">No</label>
            </div>
            <div style="margin-top: 1em; font-weight: 600; font-size: 13pt">
                6. Which of the following alternative prediction is better?
            </div>
            {% for alt_pred in alternative_predictions %}
            <div class="form-check" style="margin-left: 20px">
              {% if alt_pred.checked %}
                <input class="form-check-input" type="radio" name="alt-selection" id="alt_select_{{ alt_pred.index }}" value="{{ alt_pred.options }}" checked>
              {% else %}
                <input class="form-check-input" type="radio" name="alt-selection" id="alt_select_{{ alt_pred.index }}" value="{{ alt_pred.options }}">
              {% endif %}
              <label class="form-check-label" for="alt_select_{{ alt_pred.index }}">
                Option {{ alt_pred.index }}: 
                {% if alt_pred.predicted_damages|length == 0 %}
                    <span class="badge badge-light">None</span> 
                {% endif %}
                {% if "dent" in alt_pred.predicted_damages %}
                    <span class="badge badge-primary">dent</span> 
                {% endif %}
                {% if "scratch" in alt_pred.predicted_damages %}
                    <span class="badge badge-secondary">scratch</span> 
                {% endif %}
                {% if "tear" in alt_pred.predicted_damages %}
                    <span class="badge badge-success">tear</span> 
                {% endif %}
                {% if "crack" in alt_pred.predicted_damages %}
                    <span class="badge badge-danger">crack</span> 
                {% endif %}
                {% if "misalignment" in alt_pred.predicted_damages %}
                    <span class="badge badge-warning">misalignment</span> 
                {% endif %}
              </label>
            </div>
            {% endfor %}


            <div style="margin-top: 1em; font-weight: 600; font-size: 13pt;">
                7. Comments:
            </div>
            <textarea rows="2" name="comment" placeholder="Comment here..." style="margin-left: 20px;width: 100%"></textarea>
            <br>
            <div style="margin-top: 1em">
                <button type="submit" name="submit" value="next" class="btn btn-success">Submit</button>
                {% if index != 0 %}
                    <button type="submit" name="submit" value="back" class="btn btn-secondary" onclick="return show_alert()" formnovalidate>Back</button>
                {% endif %}
            </div>
            <div style="margin-top: 1em">
                Not Relevant Image: 
                <button type="submit" name="submit" value="skip" class="btn btn-warning" onclick="return show_alert()" formnovalidate>Skip</button>
            </div>
       </div>
    </form>
</div>
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
  modal.style.display = "none";
}

function show_alert() {
  if(!confirm("This will delete all the entries in current page! Are you sure?")) {
    return false;
  } else {
    this.form.submit();
  }
}
</script>
</body>
</html>
